.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    right: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}
.login-box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    /* background-color: #8EC5FC; */
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}
.email-pass-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    bottom: 30px;
}
.login-button {
    width: 50%;
    border: none;
    background-color: rgb(249, 181, 65);
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: 1.3px solid #000;
    position: relative;
    bottom: 45px;
}

.login-items {
    border-radius: 15px;
    border: 1px solid #000;
    height: 45px;
    padding: 10px;
}
.login-items:focus {
    outline: none;
}
.login-items {
    caret-color: transparent; /* Hide the original caret */
}

.login-items::after {
    content: '|'; /* Create a new caret */
    color: black; /* Set the color of the new caret */
    animation: blink 1s step-end infinite; /* Make the new caret blink */
}

@keyframes blink {
    from, to { color: transparent }
    10% { color: black }
}
.login-tittle {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 70px;
}
.login-image {
    width: 35px;
    height:35px;
}